.counterContainer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: bisque;
    margin: 15px;
}

.value {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}